<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Swish Guitar</title>
        <link rel="stylesheet" href="src/aboutus.css">
        <link rel="manifest" href="manifest.webmanifest">
    </head>
    <header>
      
        <script src="src/index.js"></script>
    </header>
    
    <div class="topnav" id="myTopNav">
        <img src="images/logo.png" alt="logo" class="logo">
        <nav>
            <ul>
                 <li> <a href="/">Home</a></li>
                 <li> <a href="/chords">Chords</a></li>
                 <li>  <a href="/song">Play a Song</a></li>
                 <li>  <a href="/stringInterface">String UI</a></li>
                 <li> <a href="/about">About Us</a></li>
             </ul>
          </nav>

     </div> 
    
    
  
      
      <div class="team-section">
        <h1>Our Team</h1>
        <span class="border"></span>
      <div class="ps">
        <a href="#p1"><img src="Nisarg.jpg" alt=""></a>
        <a href="#p2"><img src="Alejandro.jpg" alt=""></a>
        <a href="#p3"><img src="Vivek.jpg" alt="" ></a>
      </div>

      </div>

      <div class="section" id="p1">
        <span class="name">Nisarg Parekh</span>
        <span class="border"></span>
        <p>
          A budding young entrepeneur who enjoys listening to acoustic instrumentals <br> while sipping on a hot cup of joe.  
          Graduate of McMaster University specializing <br> in electrical engineering, Nisarg is a a highly skilled and <br> 
          a future expert in making apps and playing guitar. Nisarg is responsible for <br> the hardware components and communication of this product. 
        </p>
      </div>

       <div class="section" id="p2">
        <span class="name">Alejandro Aviles</span>
        <span class="border"></span>
        <p>
          Alejandro is avid sports fan and loves waking up super early to watch Formula 1 races. <br> 
          Also a graduate of McMaster electrical engineering, he spends several hours a day practising to code in a multitude <br>
          of languages to better his skills as a programmer. Alejandro is resposible for the backend programming <br> and logic for this website
        </p>
      </div>

       <div class="section" id="p3">
        <span class="name">Vivek Patel</span>
        <span class="border"></span>
        <p>
          Vivek bleeds blue and white and will cheer for his hometown Toronto Maple Leafs <br> 
          under any circumstance. With his friends Nisarg and Alejandro completed <br> 
          his bachelors of engineering at McMaster university. <br>  
          Vivek is the front-end developer for Swish Guitar and designed the website you see currently.
        </p>
      </div>

      



      
      
      
</html>