<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Swish Guitar</title>
        <link rel="stylesheet" href="src/chords.css">
        <link rel="manifest" href="manifest.webmanifest">
        <script async type="text/javascript" src="https://www.scales-chords.com/api/scales-chords-api.js"></script>
        <script>
            $(document).on('change', '.chordDropdown', function() {
                var target = $(this).data('target'); 
                var show = $("option:selected", this).data('show');
                $(target).children().addClass('hide');
                $(show).removeClass('hide');
            });
            $(document).ready(function(){
                $('.chordDropdown').trigger('change');
            });
        </script>
    </head>
    <header>
            <script src="src/index.js"></script>
            <div class="topnav" id="myTopNav">
                 <img src="images/logo.png" alt="logo" class="logo">
                <nav>
                    <ul>
                        <li> <a href="/">Home</a></li>
                        <li> <a href="/chords">Chords</a></li>
                        <li> <a href="/song">Play a Song</a></li>
                        <li> <a href="Test3.html">String UI</a></li>
                        <li> <a href="/about">About Us</a></li>
                    </ul>
                 </nav>

             </div> 
    </header>

    <body>
        <div class ="Chord" id="Chord">
            <h1> Chords </h1>
            <span class="border"></span>
            <div class = "Section" if = "Section">
                <p> Select a chord using the dropdown menu to obtain more information about that chord.</p>
            </div>
            <span class="border"></span>
            
            <div class = "dropdown" id = "dropdown">
                <label for="chordDropdown">Choose a chord:</label>
                <select name="chordDropdown" class="chordDropdown" data-target=".chordOptions">
                    <option value="Eminor" data-show=".Eminor">E Minor</option>
                    <option value="E" data-show=".E">E</option>
                    <option value="D" data-show=".D">D</option>
                    <option value="F" data-show=".F">F</option>
                </select> 
            </div>
            
        </div>  

        <p id="status">Status, <%= status %></p>
        <p id="chordSwitch">Switch, <%= chordSwitch %></p>
        
        <script>
            setInterval(function() {
                $("#status").load(window.location.href + " #status"); 
            }, 100);
            setInterval(function() {
                $("#chordSwitch").load(window.location.href + " #chordSwitch"); 
            }, 100);
        </script>
        
        <script>
            chordIndex = 0; 
            function setIndex(index) {
                chordIndex = index; 
            } 
        </script>


        <script>
            counter = 1; 
            function changeChord() {
                var chordList = ["Eminor","E", "D", "F"]; 
                if(document.getElementById("chordSwitch").textContent == "Switch, 1") {
                    if(counter > chordList.length-1) {
                        counter = 0; 
                    }
                    $(".chordDropdown").val(chordList[counter]).change();
                    counter++; 
                }
            }
        </script>

        <script>            
            function getChords(index, flag) {
                let elems  = document.getElementsByTagName("Button"); 
                
                /*
                var buttonList = new Array(elems.length); 
                let counter = 0; 
                for(let i = 0; i < elems.length; i++) {
                    if(i%2 == 1) {
                        buttonList[counter] = elems[i]; 
                        counter++; 
                    }
                }
                */

                if(document.getElementById("status").textContent == "Status, Is Strumming"){
                    //console.log(buttonList); 
                    elems[index].click();
                }

            }
        </script>

        <div class="chordOptions">
            <div id="Eminor" class="Eminor hide">
                <ins class="scales_chords_api" chord="D#m(maj9)"></ins>
                <ins class="scales_chords_api" chord="D#m(maj9)" instrument="guitar" output="sound" name="emin"></ins>
            </div>
            <div id="E" class="E hide">
                <ins class="scales_chords_api" chord="E"></ins>
                <ins class="scales_chords_api" chord="E" instrument="guitar" output="sound" name="e"></ins>
            </div>
            <div id="D" class="D hide">
                <ins class="scales_chords_api" chord="D"></ins>
                <ins class="scales_chords_api" chord="D" instrument="guitar" output="sound" name="d"></ins>
            </div>
            <div id="F" class="F hide">
                <ins class="scales_chords_api" chord="F"></ins>
                <ins class="scales_chords_api" chord="F" instrument="guitar" output="sound" name="f"></ins>
            </div>
        </div>     
        
        <script>
            selectedChord = ""; 
            $(".chordDropdown").on('change', () => {
                selectedChord = $(".chordDropdown").find('option:selected').attr('value');
                if(selectedChord == "Eminor") {
                    setIndex(0); 
                } else if(selectedChord == "E") {
                    setIndex(1); 
                } else if (selectedChord == "D") {
                    setIndex(2); 
                } else if(selectedChord == "F") {
                    setIndex(3); 
                } else {
                    setIndex(0); 
                }
            }); 
        </script>

        <script>
            setInterval(function() {
                getChords(chordIndex);  
            }, 10);

            setInterval(function() {
                changeChord(); 
            }, 400);
        </script>
    
        <div class = "Extra" id = "Extra">
            <br>
            <span class="border"></span>
            <p> Hold the X button on the pick and strum in order to hear the sound of the chord </p>
            <br>
            <span class="border"></span>
            <br>
        </div>

        <div class="footer">
            <div class = "copyright">
                <p> copyright</p>
            </div>
        </div>

    </body>
 
    
</html>