<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Swish Guitar</title>
        <link rel="stylesheet" href="src/song.css">
        <link rel="manifest" href="manifest.webmanifest">
        <script async type="text/javascript" src="https://www.scales-chords.com/api/scales-chords-api.js"></script>
    </head>
    <header>
        <script>
            var chordsList = new Array(10); 
            var indexList = new Array(10);
        </script>
        <script src="src/index.js"></script>
    </header>
   <div class="topnav" id="myTopNav">
        <img src="images/logo.png" alt="logo" class="logo">
        <nav>
            <ul>
                 <li> <a href="/">Home</a></li>
                 <li> <a href="/chords">Chords</a></li>
                 <li>  <a href="/song">Play a Song</a></li>
                 <li>  <a href="/stringInterface">String UI</a></li>
                 <li> <a href="/about">About Us</a></li>
             </ul>
          </nav>

    </div> 
    <body>
        <div class ="chord" id="chord">
            <h1> PLAY A SONG </h1>
            <span class="border"></span>
            <div class = "section" id = "section">
                <p> Select a set of chords using the dropdown menu to obtain more information about that chord.
                    <br>
                    If you'd like to add more chords use the add chord button.
                </p>
            </div>
            <span class="border"></span>
            
            <div id="dropdowns">
                <div class="dropdown" id="dropdown">
                    <label for="chordDropdown">Choose a chord:</label>
                    <select name="chordDropdown" class="chordDropdown" data-target=".chordOptions">
                        <option value="Eminor" data-show=".Eminor">E Minor</option>
                        <option value="E" data-show=".E">E</option>
                        <option value="D" data-show=".D">D</option>
                        <option value="F" data-show=".F">F</option>
                    </select> 
                </div>
            </div>
            <button id="addButton" onclick="addNewChord()"> Add a new chord</button>

        </div>  

        <p id="status" style="text-align: center;">Status, <%= status %></p>
        <p id="chordSwitch" style="text-align: center;" >Switch, <%= chordSwitch %></p>
        
        <script>
            setInterval(function() {
                $("#status").load(window.location.href + " #status"); 
            }, 50);
            setInterval(function() {
                $("#chordSwitch").load(window.location.href + " #chordSwitch"); 
            }, 100);
        </script>


        <script>
            function addNewChord() {
                var oldChord = document.getElementById("dropdown");
                dropdownList = document.getElementsByClassName('chordDropdown');
               
                for(let i = 0; i < dropdownList.length; i++) {
                    chordsList[i] = ($(dropdownList[i]).find('option:selected').attr('value'))
                }

                console.log(chordsList);

                let tmp = getChords(); 

                for(let i = 0; i  < chordsList.length; i++) {
                    if(chordsList[i] == "Eminor") {
                        indexList[i] = 0; 
                    } else if(chordsList[i] == "E") {
                        indexList[i] = 1; 
                    } else if (chordsList[i] == "D") {
                        indexList[i] = 2; 
                    } else if(chordsList[i] == "F") {
                        indexList[i] = 3; 
                    } 
                }

                console.log(indexList);

                $(".chordDropdown").on('change', () => {
                    let selectedChord = $(oldChord).find('option:selected').attr('value');
                    console.log(selectedChord)
                    chordsList[i++] = selectedChord;
                }) 
                
                let element = document.createElement("div");
                element.innerHTML = oldChord.innerHTML;
                element.classList = oldChord.classList;
                var newChord = document.getElementById("dropdowns");
                newChord.appendChild(element);
            }
        </script> 

        <div class="chordOptions">
            <div id="Eminor" class="Eminor hide">
                <ins class="scales_chords_api" chord="D#m(maj9)" instrument="guitar" output="sound" name="emin"></ins>
                <br>
            </div>
            <div id="E" class="E hide">
                <ins class="scales_chords_api" chord="E" instrument="guitar" output="sound" name="e"></ins>
                <br>
            </div>
            <div id="D" class="D hide">
                <ins class="scales_chords_api" chord="D" instrument="guitar" output="sound" name="d"></ins>
                <br>
            </div>
            <div id="F" class="F hide">
                <ins class="scales_chords_api" chord="F" instrument="guitar" output="sound" name="f"></ins>
                <br>
            </div>
        </div>      
        
        <script>            
            function getChords() {
                let elems  = document.getElementsByTagName("Button"); 
                //console.log(elems)
                let buttonList = new Array(elems.length);

                let counter = 0; 
                for(let i = 1; i < elems.length; i++) {
                    buttonList[counter] = elems[i]; 
                    counter++;
                }
    
                return buttonList;
            }
        </script>

        <script>        
            let counter = 0;  
            let chordIndex = 0;
            function playChords() {
                let list = getChords();
                chordIndex = indexList[counter]; 
                
                if(document.getElementById("chordSwitch").textContent == "Switch, 1") {
                    if(counter > 3) {
                        counter = 0; 
                    } else {
                        counter++; 
                    }
                    chordIndex = indexList[counter];
                }

                if(document.getElementById("status").textContent == "Status, Is Strumming"){
                    list[chordIndex].click();
                }

            }
        </script>

        <script>
            setInterval(function() {
                playChords();  
            }, 200);

        </script>
        

    </body>    

</html>