<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Swish Guitar</title>
        <link rel="stylesheet" href="src/string.css">
        <link rel="manifest" href="manifest.webmanifest">
    </head>
    <header>
        <script src="src/index.js"></script>
    </header>
   <div class="topnav" id="myTopNav">
        <img src="images/logo.png" alt="logo" class="logo">
        <nav>
            <ul>
                 <li> <a href="/">Home</a></li>
                 <li> <a href="/chords">Chords</a></li>
                 <li>  <a href="/song">Play a Song</a></li>
                 <li>  <a href="/stringInterface">String UI</a></li>
                 <li> <a href="/about">About Us</a></li>
             </ul>
          </nav>

     </div> 
    <body>
      
<div class="hero">
    <p> Building Awesome Feature</p>
    <H1>Coming Soon</H1>

    <p id="timer"></p>

    <script>
        var countDownDate = new Date("April 4, 2022 15:37:25").getTime(); 
        var x = setInterval(function() {
            var now = new Date().getTime();
            var distance = countDownDate - now; 

            var days = Math.floor(distance/(1000*60*60*24));
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);

            document.getElementById("timer").innerHTML = days + " Days, " + hours + " Hours, " + minutes + " Minutes, " + seconds + " Seconds "
 
        }, 1000)


    </script>
     <hr>
    
    </body>

</html>